* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, html {
  height: 99%;
  width: 99%;
  display: flex;
  flex-direction: row;
}
body {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.4;
  background: #F0F0F0;
  color: #36454F;
  margin: 5px;
}
.display_div {
  border: 1px solid #36454F;
  margin: 5px;
  padding: 1%;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.overflow-y {
  overflow-y: scroll;
}
#div_tree {
  overflow: scroll;
  white-space: nowrap;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-7 {
  flex: 7;
}
.flex-19 {
  flex: 19;
}
.thumbnail {
  width: 18%;
  display: inline-block;
  background-size: contain;
  padding: 5px;
  margin: 1%;
  background: #FFF;
  border: 1px solid #36454F;
  border-radius: 3%;
}
.thumbnail img {
  max-width: 100%;
}
.tree_el {
  background: #FFF;
  border: 1px solid #36454F;
  cursor: pointer;
}
.inv {
  display: none;
}
.overflow-x {
  overflow-x: auto;
}
.err_src {
  border: 1px dotted grey;
  background-color: #36454F;
  color: #F0F0F0;
}
/* Probably add this as a fifth container? */
/* #div_sub_btns {
  position: fixed;
  bottom: 3%;
  background: #FFF;
  border: 1px dotted grey;
  width: 40%;
  height: 10%;
} */
.tags_el {
  background: #FFF;
  border: 1px solid #36454F;
  cursor: pointer;
  text-align: justify;
  text-align-last: justify;
  padding: 0 0 0 3%;
}
.tag_bg {
  background: #36454F;
  color: #F0F0F0;
  padding: 0 3%;
}
.selected {
  background: #337ab7;
  color: #F0F0F0;
}
button {
  background: #36454F;
  border: 1px solid #F0F0F0;
  color: #F0F0F0;
  padding: 5px;
  flex: 1;
  cursor: pointer;
}
.input {
  flex: 10;
  /* line-height: 100%; */
  font-size: 100%;
}
#input_folder {
  padding: 5%;
  cursor: pointer;
  width: 100%;
  height: 75%;
}
