* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.4;
  background: #F0F0F0;
  color: #36454F;
  margin: 5px;
}

a {
  color: #333;
  text-decoration: none;
}
